doctype html
html
  head
    title WishingWellDevelopments
    link(rel="stylesheet", type="text/css", href="style.css")
    link(href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500" rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1")
body
  .background
    .navigation
      img(src="logo.png", alt="logo.png", width="70px", height="auto")
      ul
        li
          a.active(href="http://", target="_blank") HOME
        li
          a(href="http://", target="_blank") ABOUT
        li
          a(href="http://", target="_blank") CONTACT US
    .heading-content
      img(src="logo.png", alt="logo.png", width="130px", height="auto")
      h1 WISHING WELL DEVELOPMENTS
      P GET A STUNNING WEBSITE AT AN AFFORDABLE PRICE!
      a(href="http://", target="_blank") BUY NOW
  .more-info
    h1 Website Features
    .hosting
      .hostingbody 
        p Website Start Package
        p $600
        p lifetime inc gst  
        p this package is ideal for a small bis
    
