doctype html
html
  head
    title WishingWellDevelopments
    link(rel="stylesheet", type="text/css", href="style.css")
    link(href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500" rel="stylesheet")
body
  
  .background
    .navigation
      img(src="logo.png", alt="logo.png", width="70px", height="auto")
      ul
        li
          a.active(href="http://", target="_blank") HOME
        li
          a(href="http://", target="_blank") ABOUT
        li
          a(href="http://", target="_blank") CONTACT US
    .heading-content
      h1 HELLO! WELCOME TO
      h1 WISHING WELL DEVELOPMENTS
      P GET A STUNNING WEBSITE AT AN AFFORDABLE PRICE!
      a(href="http://", target="_blank") BUY NOW
  .about
    .aboutsec
      h1 Why Do I Need A Website?
      p Watch The Short Video To Find Out
      //- iframe(width="400", height="250", src="https://www.youtube.com/embed/yhJ5hxKtT88?autoplay=1", frameborder="0", allowfullscreen) 
