@font-face
  font-family: myFirstFont
  src: url(Gotham-Light.otf)
*
  font-family: 'myFirstFont', sans-serif
body
  margin: 0
  padding: 0
.background
    width: 100%
    height: 600px
    background-image: url('compback.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    display: flex
    align-items: center
.navigation
  position: absolute
  top: 0
  width: 100%
  box-sizing: border-box
  color: #016cdd
  img
    margin-top: 5px
    margin-left: 20px
  ul
    height: auto
    padding: 10px
    width: 270px
    float: right
  li
    list-style-type: none
    display: inline
  li a
    font-size: 13px
    text-decoration: none
    color: white
    padding: 10px 15px
    transition: all 0.3s
@media screen and (max-width: 700px)
  .navigation
    display: none
.heading-content
  width: 100%
  height: auto
  padding: 50px
  box-sizing: border-box
  text-align: center
  h1
    color: white
    font-size: 40px
    margin-bottom: -10px
    letter-spacing: 1px
  p
    letter-spacing: 1px
    color: white
    margin-bottom: 5px
  a:not(.btnlearn)
    letter-spacing: 1px
    position: relative
    top: 20px
    color: white
    background-color: #529EFF
    border: 2px solid #529EFF
    text-decoration: none
    padding: 10px 20px
    transition: 0.3s
    &:hover
      box-shadow: 1px 1px 30px black
  a.btnlearn
    letter-spacing: 1px
    position: relative
    top: 20px
    color: white
    border: 2px solid white
    text-decoration: none
    padding: 10px 20px
    transition: 0.3s
    margin-right: 5px
    &:hover
      box-shadow: 1px 1px 30px black
@media screen and (max-width: 315px)
  a
    font-size: 12px
  a.btnlearn
    margin-left: -5px
@media screen and (min-width:700px)
  .heading-content
    img
      display: none
@media screen and (max-width: 700px)
  .heading-content
    padding: 20px
    a
      top: 30px
      padding: 15px 35px
    h1
      font-size: 28px
    p
      font-size: 13px
.wef
  margin: 0
p.wefp
  margin: 5px 0px 20px 0px
  color: #4A566B
  font-size: 15px
.more-info
  width: 100%
  height: auto
  padding: 30px
  box-sizing: border-box
  background-color: #F6F7FA
  text-align: center
  h1
    font-weight: lighter
    color: #008BFF
    margin-bottom: 7px
.infos
  justify-content: center
  display: flex
.info
  font-size: 13px
  margin-right: 10px
  color: black
  background-color: white
  padding: 25px
  box-sizing: border-box
  transition: all 0.5s
  border: 2px solid #DEDEDE
  &:hover
    border: 2px solid #008BFF
  p
    color:#808080
  a
    text-decoration: none
    display: inherit
    padding: 15px
    color: #4F8EF7
    border: 2px solid #4F8EF7
    box-sizing: border-box
    font-size: 15px
    transition: all 0.3s
    &:hover
      background-color:#4F8EF7
      color: white
.info3
  border: 2px solid #DEDEDE
  font-size: 13px
  color: black
  background-color: white
  box-sizing: border-box
  padding: 25px
  box-sizing: border-box
  transition: all 0.5s
  &:hover
    border: 2px solid #008BFF
  p
    color:#808080
  a
    text-decoration: none
    display: inherit
    padding: 15px 20px
    color: #4F8EF7
    border: 2px solid #4F8EF7
    box-sizing: border-box
    font-size: 15px
    transition: all 0.3s
    &:hover
      background-color: #4F8EF7
      color: white
@media screen and (max-width: 786px)
  .wef
    margin-top: 10px
  .infos
    display: inherit
  .info
    margin-right: 0
    margin-top: 10px
  .info3
    margin-top: 10px
  .more-info
    padding: 10px
    h1
      font-size: 25px
.quote
  margin: 0
  padding: 20px
  box-sizing: border-box
  display: flex
  align-items: center
  background-color: #4F8EF7
  font-size: 15px
  p
    font-size: 18px
    color: white
    margin: 0
  a
    position: absolute
    right: 10px
    margin: 0
    border: 2px solid white
    color: white
    padding: 10px 15px
    text-decoration: none
.previous-work-container
  position: relative
  width: 100%
  height: 250px
  padding: 25px
  box-sizing: border-box
  background-image: url("prevwork.jpg")
  background-size: cover
  background-position: center
.prevwork-holder
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  text-align: center
  h1
    margin: 0px 0px 10px 0px
    font-weight: lighter
    color: white
  a
    text-decoration: none
    color: white
    border: 2px solid white
    padding: 13px 40px
    transition: all 0.3s
    &:hover
      background-color: white
      color: black
  img
    margin-top: 10px
