*
  font-family: 'Maven Pro', sans-serif
body
  margin: 0
  padding: 0
.background
    width: 100%
    height: 500px
    background-image: url('background1.jpg')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover
    display: flex
    align-items: center
.navigation
  position: absolute
  top: 0
  width: 100%
  box-sizing: border-box
  color: #016cdd
  img
    margin-left: 20px
  ul
    height: auto
    padding: 10px
    width: 320px
    float: right
  li
    list-style-type: none
    display: inline
  li a
    text-decoration: none
    color: white
    padding: 10px 15px
    transition: all 0.3s
    &:hover
      border-bottom: #BEC3C7 solid 1px
  li a.active
    border-bottom: 1px solid white

@media screen and (max-width: 700px)
  .navigation
    display: none

.heading-content
  width: 100%
  height: auto
  padding: 50px
  box-sizing: border-box
  text-align: center
  h1
    color: white
    margin-bottom: -10px
    letter-spacing: 1px
  p
    letter-spacing: 1px
    color: white
    margin-bottom: 5px
  a:not(.btnlearn)
    letter-spacing: 1px
    position: relative
    top: 20px
    background-color: #529EFF
    color: white
    border: 2px solid #529EFF
    border-radius: 2px
    text-decoration: none
    padding: 10px 20px
    transition: 0.3s
    &:hover
      box-shadow: 1px 1px 30px black
  a.btnlearn
    letter-spacing: 1px
    position: relative
    top: 20px
    color: #4A8BFC
    background-color: white
    border: 2px solid white
    border-radius: 2px
    text-decoration: none
    padding: 10px 20px
    transition: 0.3s
    margin-right: 5px
    &:hover
      box-shadow: 1px 1px 30px black
@media screen and (max-width: 315px)
  a
    font-size: 12px
  a.btnlearn
    margin-left: -5px
@media screen and (min-width:700px)
  .heading-content
    img
      display: none
@media screen and (max-width: 700px)
  .heading-content
    padding: 20px
    a
      top: 30px
      padding: 15px 35px
    h1
      font-size: 28px
    p
      font-size: 13px
.wef
  margin: 0
p.wefp
  margin: 5px 0px 20px 0px
.more-info
  width: 100%
  height: auto
  padding: 30px
  box-sizing: border-box
  background-color: #F5F6F7
  text-align: center
  h1
    font-weight: lighter
    color: #008BFF
.infos
  justify-content: center
  display: flex
.info
  font-size: 13px
  margin-right: 10px
  color: black
  background-color: white
  padding: 25px
  box-sizing: border-box
  transition: all 0.5s
  border-radius: 5px
  border: 2px solid #DEDEDE
  &:hover
    border: 2px solid #008BFF
  p
    color:#808080
  a
    text-decoration: none
    display: inherit
    padding: 15px
    color: white
    background-color: #008BFF
    box-sizing: border-box
    border-radius: 3px
    font-size: 15px
    transition: all 0.3s
    &:hover
      background-color: #4F8EF7
      color: white
.info3
  border: 2px solid #DEDEDE
  border-radius: 5px
  font-size: 13px
  color: black
  background-color: white
  box-sizing: border-box
  padding: 25px
  box-sizing: border-box
  transition: all 0.5s
  &:hover
    border: 2px solid #008BFF
  p
    color:#808080
  a
    text-decoration: none
    display: inherit
    padding: 15px 20px
    color: white
    background-color: #008BFF
    box-sizing: border-box
    border-radius: 3px
    font-size: 15px
    transition: all 0.3s
    &:hover
      background-color: #4F8EF7
      color: white
@media screen and (max-width: 786px)
  .wef
    margin-top: 10px
  .infos
    display: inherit
  .info
    margin-right: 0
    margin-top: 10px
  .info3
    margin-top: 10px
  .more-info
    padding: 10px
    h1
      font-size: 25px
.pricing
  width: 100%
  height: 5px
  background-color: #4F8EF7
