*
  font-family: 'Maven Pro', sans-serif
body
  margin: 0
  padding: 0
.background
    width: 100%
    height: 500px
    background-image: url('background.jpg')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover
    display: flex
    align-items: center
.navigation
  position: absolute
  top: 0
  width: 100%
  box-sizing: border-box
  color: #016cdd
  img
    margin-left: 20px
  ul
    height: auto
    padding: 10px
    width: 320px
    float: right
  li
    list-style-type: none
    display: inline
  li a
    text-decoration: none
    color: white
    padding: 10px 15px
    transition: all 0.3s
    &:hover
      border-bottom: #BEC3C7 solid 1px
  li a.active
    border-bottom: 1px solid white

@media screen and (max-width: 700px)
  .navigation
    display: none

.heading-content
  width: 100%
  height: auto
  padding: 50px
  box-sizing: border-box
  text-align: center
  h1
    color: white
    margin: 0
    letter-spacing: 1px
  p
    letter-spacing: 1px
    color: white
    margin: 0
  a
    letter-spacing: 1px
    position: relative
    top: 20px
    color: white
    background-color: none
    border: 2px solid white
    border-radius: 2px
    text-decoration: none
    padding: 10px 20px
    transition: 0.3s
    &:hover
      background-color: white
      color: black
@media screen and (min-width:700px)
  .heading-content
    img
      display: none
@media screen and (max-width: 700px)
  .heading-content
    padding: 20px
    a
      top: 30px
      padding: 15px 35px
    h1
      font-size: 28px
    p
      font-size: 13px
.more-info
  width: 100%
  height: auto
  padding: 30px
  box-sizing: border-box
  background-color:#1879E6
  text-align: center
  color: white
  h1
    font-weight: lighter
.infos
  justify-content: center
  display: flex
.info
  font-size: 13px
  margin-right: 10px
  color: black
  background-color: white
  border-radius: 5px
  padding: 25px
  box-sizing: border-box
  a
    text-decoration: none
    display: inherit
    padding: 15px 20px
    color: #4F8EF7
    box-sizing: border-box
    border-radius: 5px
    border: solid #4F8EF7 2px
    font-size: 15px
    transition: all 0.3s
    &:hover
      background-color: #4F8EF7
      color: white
.info3
  font-size: 13px
  color: black
  background-color: white
  box-sizing: border-box
  border-radius: 5px
  padding: 25px
  box-sizing: border-box
  a
    text-decoration: none
    display: inherit
    padding: 15px 20px
    color: #4F8EF7
    box-sizing: border-box
    border-radius: 5px
    border: solid #4F8EF7 2px
    font-size: 15px
    transition: all 0.3s
    &:hover
      background-color: #4F8EF7
      color: white
@media screen and (max-width: 786px)
  .infos
    display: inherit
  .info
    margin-right: 0
    margin-top: 10px
  .info3
    margin-top: 10px
  .more-info
    padding: 10px
